# Node.js dependencies
node_modules

# Environment variables
.env

# Build artifacts
dist

# Logs
logs
*.log

# Editor and IDE files
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Package lockfile
package-lock.json
